@model IEnumerable<MG_Core.Models.Block>
<ul class="nav navbar-nav">
    @foreach(var b in Model)
    {
        <li>
            <a href="@("/Block/"+b.Id)">
                @b.Name
            </a>
        </li>
    }
</ul>
